{% extends 'base.html.twig' %}

{% block title %}Form Invoice{% endblock %}

{% block body %}

<div class="container text-center">
        <h1>Manage an invoice</h1>
        {% if notification %}
        <div class="alert alert-info"> {{ notification }} </div>
        {% endif %}
            <hr>
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
            {{ form_start(form_invoice) }}
            <div class="row">
               <div class="col-md-12">
                   {{ form_row(form_invoice.Invoice_date) }}
               </div>

               <div class="col-md-12">
                {{ form_row(form_invoice.Invoice_number) }}
            </div>

            <div class="col-md-12">
                {{ form_row(form_invoice.Custumer_Id) }}
            </div>
           
            </div>
                   
            {{ form_end(form_invoice) }}

          

            <br>

        </div>

        <div class="col-lg-6">
            <span style="color: red;">Création de facture pour notre client</span>
			<p class="lead">
				<br>
				Lorem ippum pa! <br>
               
			</p>
        </div>    
    </div>




{% endblock %}
